

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


@{
    ViewBag.Title = "table";
}

<script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
    $(function() {
        init();

    });

    function init() {
        $("#tt").datagrid({
            pagination: 'true',
            rownumbers: 'true',
            url: '@Url.Action("Inittable", "WorkTimes")',
            title: '这是一个测试的数据表',
            pageNumber: 1,
            pageSize: 10,
            pagePosition: 'top',
            singleSelect: true,
            width: 1280,
            columns: [
                [
                    {
                        field: 'StationName',
                        width: 300,
                        title: '用户名'

                    },
                    {
                        field: 'starttime',
                        title: '描述',
                        width: 300,
                        editor: {
                            type: 'text'
                        }
                    },
                    {
                        field: 'endtime',
                        title: '结束时间',
                        width: 300,

                    },
                    {
                        field: 'WorkProgram',
                        title: '工作内容',
                        width: 300,

                    },
                    {
                        field: 'MemberName',
                        title: '成员',
                        width: 300,

                    },
                    {
                        field: 'WorkTimeValue',
                        title: '工时',
                        width: 300,

                    },
                ]
            ],
            view: detailview,
            detailFormatter: function(rowIndex, rowData) {
                //return '<table><tr>' +
                //        '<td rowspan=2 style="border:0"><img src="images/' + rowData.itemid + '.png" style="height:50px;"></td>' +
                //        '<td style="border:0">' +
                //        '<p>Attribute: ' + rowData.attr1 + '</p>' +
                //        '<p>Status: ' + rowData.status + '</p>' +
                //        '</td>' +
                //        '</tr></table>';
                return '<div id="ddv-' + rowIndex + '" style="padding:5px 0"> 试试</div>';
            },
            @*onExpandRow: function(index, row) {
                var ddv = $(this).datagrid('getRowDetail', index).find('div.ddv');
                ddv.panel({
                    border: false,
                    cache: true,
                    href: '@Url.Action("Inittable", "WorkTimes")',    
                    onLoad:function(){    
                        $('#tt').datagrid('fixDetailRowHeight',index);    
                        $('#tt').datagrid('selectRow',index);    
                        $('#tt').datagrid('getRowDetail',index).find('form').form('load',row);    
                    }    
                });    
                $('#tt').datagrid('fixDetailRowHeight',index);    


            },
            onDblClickRow: function (index, row) {
                $('#tt').datagrid('expandRow', index);
                
            }*@


        });
    }
    

</script>
<h2>table</h2>


<div id="tt">
    
</div>

<link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
<link href="~/Scripts/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />