
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <input name="username" type="text"/>
    <input name="pwd" type="text"/>
    <input type="submit" value="submit"/>  
    
    
}